@page
@model Hospital_Management.Pages.Doctors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.DoctorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.JoiningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.JoiningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Salary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor.Hospital_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.Hospital_ID.HospitalID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Doctor.DoctorID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
