@page
@model Hospital_Management.Pages.Medicines.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medicine[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicine[0].ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicine[0].Hospital_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Medicine) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital_ID.HospitalID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MedicineName">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MedicineName">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MedicineName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
